* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #010101;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* utility */

.u_flex {
    display: flex;
}

.container.active {
    display: block; /* jQuery */
}

.u_pAbsolute {
    position: absolute;
}

.u_pRelative {
    position: relative;
}

/* main section */

.main-section {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* icon prev & next */
.icon {
    padding: 20px;
    font-size: 28px;
    color: #fff;


}

/* img carousel */

.container {
    display: none;
}

.info-section {
    top: 70%;
    left: 5%;
    width: 35%;
    text-shadow: 1px 1px 6px #000000e0;
}

.info-section h2{
    font-weight: 600;
    font-size: 200%;
}

.info-section h4{
    font-weight: 400;
}

.info-section p{
    margin-top: 5px;
    font-size: 80%;
}